{% extends "base.html" %} {% block content %}
<h1>Details</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="{{MEDIA_URL}}{{product.image}}">

                <h4 class="pull-right">€{{product.price}}</h4>
                <h4>{{product.name}}
                </h4>
                <p>{{product.brand}}</p>
                <p>{{product.description}}</p>
                <form method="POST" action="{%url 'add_to_cart'%}">
                    {% csrf_token %}
                    <input type="number" name="quantity" value="1" />
                    <input type="hidden" name="product" value='{{product.id}}' />
                    <input class="btn btn-primary" type="submit" value="Add to cart" />
                    {% if user.is_authenticated %}
                    <a href="{%url 'make_review' product.id%}" class="btn btn-primary">Add a Review</a>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <h3>Reviews</h3>
    {% for r in product.reviews.all%}
    
    <p>{{r.title}}</p>
    <p>{{r.content}}</p>
    
    {% endfor%}
    
</div>

{% endblock content %}
